@import url(https://fonts.google.com/specimen/Inter);
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	background-color: hsl(233, 47%, 7%);
}
.container {
	padding: 32px;
}
.card-stat {
	width: 70%;
	display: flex;
	margin: 70px auto;
	border-radius: 5px;
	justify-content: center;
	background-color: hsl(244, 38%, 16%);
}
.content-card-1 {
	width: 45%;
	padding: 50px;
}
.content-card-2 {
	width: 50%;
}
.card-img-stat {
	width: 100%;
	background-color: rgb(0, 0, 255);
	opacity: 0.6;
	border-radius: 0px 5px 5px 0px;
	height: 100%;
}
.card-title-heading {
	font-size: 32px;
	color: #fff;
}
.card-title-heading span {
	font-size: 32px;
	color: hsl(277, 64%, 61%);
}
.card-title-paragraph {
	margin-top: 30px;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: normal;
	width: 80%;
}
.card-title-stats {
	display: flex;
	margin-top: 30px;
	color: hsla(0, 0%, 100%, 0.6);
}
.child-title-stats-1 {
	margin-left: 0px;
}
.child-title-stats-2 {
	margin-left: 50px;
}
.child-title-stats-3 {
	margin-left: 50px;
}
.number-stats {
	color: #fff;
	font-size: 16px;
	margin-bottom: 1rem;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.card-stat {
		flex-direction: column-reverse;
	}
	.card-img-stat {
		width: 198px;
		justify-content: center;
	}
	.content-card-1 {
		width: 90%;
		padding: 12px;
		margin-top: 15px;
	}
	.content-card-2 {
		width: 50%;
	}
	.card-title-heading {
		text-align: center;
		font-size: 18px;
	}
	.card-title-heading span {
		font-size: 18px;
	}
	.card-title-paragraph {
		margin: auto;
		text-align: center;
		margin-top: 10px;
		font-size: 11px;
	}
	.card-title-stats {
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	.child-title-stats-1 {
		margin-left: 0px;
		margin-top: 20px;
	}
	.child-title-stats-2 {
		margin-left: 0px;
		margin-top: 20px;
	}
	.child-title-stats-3 {
		margin-left: 0px;
		margin-top: 20px;
	}
}
